.about {
    p {
        font-size: 17px;
        font-weight: 500;
    }
    h1 {
        font-size: 48px;
        font-weight: 500;
    }
    h1::after {
        content: url(/line.png);
        display: block;
        position: relative;
        margin: 0 auto 2rem;
    }
    a {
        color: initial;
        font-size: 1.35rem;
    }
    &__content {
        h3 {
            color: initial;
            font-size: 25px;
            span {
                display: block;
                font-size: 17px;
                font-weight: 500;
                color: #4aacff;
                text-transform: uppercase;
                margin-top: 0.45rem;
            }
        }
    }
}
