@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

:root {
    --font-family: 'Raleway', sans-serif;
    --logo-filter: brightness(3.5);
}

body {
    font-family: var(--font-family);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

[data-bs-theme='light']{
    background-color: #fff;
    color: #000;
}

[data-bs-theme='dark'] {
    background-color: #333;
    color: #fff;

    .navbar-brand {
        img {
            filter: var(--logo-filter);
        }
    }
}

.navbar-nav{
    a.nav-link {
        font-weight: bold;
        margin: 0 0.85rem;
        line-height: 3rem;
        text-transform: uppercase;
    }
    .dropdown-menu {
        a {
            font-weight: bold;
            line-height: 3rem;
            text-transform: uppercase; 
        }
    }
    button {
        font-size: 1.5rem;
        border: 0;
        box-shadow: none;  
    }
}